<div class="jumbotron" id="capa">
</div>
<div class="row" id="mais-recentes">
</div>

<div class="hidden">

    @* Template da capa de uma noticia

    *@
    <div id="template-capa">
        @*Titulo da Noticia*@
        <h1></h1>
        @*Texto da Noticia*@
        <p class="lead"></p>
        @**@
        <a href="" class="btn btn-primary btn-lg"><img src=""/></a>
        @*Link para ver a noticia especifica*@
        <p><a href="" class="btn btn-primary btn-lg"></a></p>
    </div>


    @*Template de HTML de uma noticia

    *@

    <div class="col-md-4" id="template-noticia">
        @*Titulo da Noticia*@
        <h2></h2>
        @*Texto da Noticia*@
        <p></p>
        @*Link para ver a noticia em espifica*@
        <p><a class="btn btn-default" href=""></a></p>
    </div>

</div>

<script>

    function divNoticia(noticia) {

        let template = document.querySelector('#template-noticia').cloneNode(true);

        template.removeAttribute('id');

        let titulo = template.querySelector('h2');
        titulo.innerHTML = noticia.Titulo;

        let texto = template.querySelector('p:nth-child(2)');
        texto.innerHTML = noticia.Texto;

        let link = template.querySelector('p:nth-child(3) > a');
        link.href = null;

        return template;
    }

    function divCapa(noticia) {

        let template = document.querySelector('#template-capa').cloneNode(true);

        template.removeAttribute('id');

        let titulo = template.querySelector('h1');
        titulo.innerHTML = noticia.Titulo;

        let texto = template.querySelector('p:nth-child(2)');
        texto.innerHTML = noticia.Texto;

        let link_imagem = template.querySelector('p:nth-child(3)');

        let imagem = template.querySelector('div > a');
        imagem.src = '~/Imagem/' + noticia.Imagens[0].Directorio;

        let link = template.querySelector('p:nth-child(4) > a');
        link.href = null;

        return template;
    }

    function adicionarNoticia(noticia) {
        let template = divNoticia(noticia);

        let grelha = document.querySelector('#mais-recentes');

        grelha.appendChild(template);
    }

    function adicionarNoticiaCapa(noticia) {
        let template = divCapa(noticia);

        let grelha = document.querySelector('#capa');

        grelha.appendChild(template);
    }

    function iniciarNoticias() {
        getNoticias()
            .then(noticias => {

                for (let noticia of noticias) {
                    adicionarNoticia(noticia);
                }
            })
        getNoticia(1)
            .then(function (myJson) {
                adicionarNoticiaCapa(myJson);
                return myJson;
            });
    }

    iniciarNoticias();

</script>