
<div id="root-noticias"></div>
<div id="categorias"></div>
<div id="notica-especifica"></div>
<div id="retornar"></div>

<div id="reload">
    <input type="button" value="Voltar á Página Inicial" onClick="window.location.reload()">
</div>


